body * {
	border: 1px solid black;
}

* {
	box-sizing: border-box;
}

#timeControlsButtons, #objectControls {
	width: 20%;
	float: left;
}

#timelineContainer, #animationArea {
	width: 80%;
	float: left;
}

#timelineContainer, #timeControlsButtons {
	height: 4em;
}

#objectControls, #animationArea {
	height: 40em;
}

#objectControls {
	clear: both;
}

#animationArea {
	clear: top;
}

#objectsList .selected {
	background-color: lightgreen;
}